/*Fuentes*/

@font-face {
    font-family:"Playfair Display";

    src:url("../fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2"),
    	url("../fonts/PlayfairDisplay-BlackItalic.woff") format("woff"),
    	url("../fonts/PlayfairDisplay-BlackItalic.otf") format("opentype");
    
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family:"Playfair Display";

    src:url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    	url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
    	url("../fonts/PlayfairDisplay-Regular.otf") format("opentype");

    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family:"Roboto";

    src:url("../fonts/Roboto-Light.woff2") format("woff2"),
    	url("../fonts/Roboto-Light.woff") format("woff"),
    	url("../fonts/Roboto-Light.otf") format("opentype");

    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family:"Roboto";

    src:url("../fonts/Roboto-Regular.woff2") format("woff2"),
    	url("../fonts/Roboto-Regular.woff") format("woff"),
    	url("../fonts/Roboto-Regular.otf") format("opentype");

    font-style: normal;
    font-weight: 400;
}  


/*Navbar*/ 
.navbar_barbershop{
	background-color: #121619;
	color: #FFF;
	margin-bottom: 0;
}
.navbar_barbershop img {
	max-width: 100px;

}


/*Header*/

.header_barbershop {
	background-image: url(../img/post-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-position: right bottom;
}

 h1{
	color: #FFFFFF;
	font-family:"Playfair Display";
	font-style: italic;
    font-weight: 700;
    font-size: 4em;

}

/*Sección barber_entre*/

.barbershop_entry {
	padding: 3%;
    color: #6C6E70;
    border-bottom: 1px solid gray;
}


.icon {
	text-align: center;
	background-color: #6C6E70;
	font-size: 1.5em;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 1rem 1rem;
    margin: 1rem
   
}

.icon_border {
    background-color: #fff;
    border-radius: 50%;
    color: #6c6e70;
    font-size: 1.5em;
    border-color: #6C6E70;
    padding: 1rem;
    
}

/*autor*/ 
.autor_barbershop {
    padding: 2%;
    color: #6C6E70;
    
}

.autor_barbershop img {
	width: 200px;
	height: 200px;
    margin: 2%;
    border-radius: 50%;
    border: solid 1px white;
}

.autor_barbershop_texto {
    padding-top: 5%;
}

.autor_barbershop h3 {
    font-family: "Playfair Display";
    color: #121619;
    font-style: italic;

}



/*jumbotron*/

.jumbotron {
    margin:0;
}

h2 {
    color: #6C6E70;
    font-family: "Roboto";
    font-size: 2em;


}

.footer_barbershop {
	background-color: #121619;
}
.footer_barbershop img {
	max-width: 200px;
}